// Variables
@import 'base';

// Bootstrap
@import '~bulma/css/bulma.css';

// Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  overflow: hidden;
}

.position-bottom {
  padding-bottom: 5rem;
}

.footer-fixed-bottom {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
  padding-bottom: 1.5em;
}

.section-centered {
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.article-wrapper {
  margin-top: 1.5rem;
}

.select, .select select{
  width: 100%;
}

.group-links-wrapper {
  padding-right: 5rem;
}

.disabled-element {
  background-color: #ffdd57;
}

.disabled-element > div > a {
  color: #000000;
}

.disabled-element > div > a:hover {
  color: #363636;
}

.line-element {
  background-color: hsl(0, 0%, 48%);
}
