// Variables
@import 'base';

// Bootstrap
@import '~bulma/css/bulma.css';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';

body {
  overflow: hidden;
}

.position-bottom {
  padding-bottom: 5rem;
}

.footer-fixed-bottom {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
  padding-bottom: 1.5em;
}

.section-centered {
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.article-wrapper {
  margin-top: 1.5rem;
}

.select, .select select{
  width: 100%;
}

.group-links-wrapper {
  padding-right: 5rem;
}
