@layout('layouts.admin')

@section('content')
<div class="columns">
  <div class="column is-2">
    @include('layouts.components.admin_menu')
  </div>
  <div class="column is-9">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="#">Project: {{ project.title }}</a></li>
        <li><a href="#">Created at: {{ project.created_at }}</a></li>
      </ul>
    </nav>
    <nav class="panel">
      <p class="panel-heading">
        Actions
      </p>
      <div class="panel-block">
        <a href="{{ route('test-case-edit-page', { id: project.id }) }}" style="width: 100%"
          class="button is-link">Update</a>
      </div>
      <div class="panel-block">
        <a href="{{ route('test-case-delete', { id: project.id }) }}" style="width: 100%"
          class="button is-danger">Remove</a>
      </div>
    </nav>
    <div class="columns is-multiline">
    </div>
  </div>
</div>
@endsection
