@layout('layouts.admin')

@section('content')
<div class="columns">
  <div class="column is-2">
    @include('layouts.components.admin_menu')
  </div>
  <div class="column is-9">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{ route('project', { id: testCase.pt_id }) }}">Project: {{ testCase.pt_name }}</a></li>
        <li><a href="#">Qa: {{ testCase.full_name }} {{ testCase.email }}</a></li>
      </ul>
    </nav>
    <nav class="panel">
      <p class="panel-heading">
        Actions
      </p>
      <div class="panel-block">
        <a href="{{ route('action-create-page', { test_case_id: testCase.id}) }}" style="width: 100%"
          class="button is-link">Create action</a>
      </div>
      <div class="panel-block">
        <button class="button is-success" id="to-pdf" style="width:100%">To pdf</button>
      </div>
    </nav>
    <div id="content" class="section">
      <div class="container">
        <div class="column is-5 is-offset-3">
          <div class="box">
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <h3 id="title">Test case - {{ testCase.title }}</h3>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <span class="card-header-icon tag {{ testCase.st_type }}">{{ testCase.st_name }}</span>
                </div>
              </div>
            </nav>
            <hr class="line-element">
            <div class="media">
              <div class="content">
                {{ testCase.description || 'Not found' }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div style="overflow-x:auto">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Id</th>
            <th>Step number</th>
            <th>Action description</th>
            <th>Result</th>
            <th>Action</th>
            <th>Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Id</th>
            <th>Step number</th>
            <th>Action description</th>
            <th>Result</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
        </tfoot>
        <tbody>
          @if(testActions != null)
          @each(testAction in testActions)
          <tr>
            <th>{{ testAction.id }}</th>
            <td>{{ testAction.step_number }}</td>
            <td>{{ testAction.actions_desc }}</td>
            <td>{{ testAction.result }}</td>
            <td>
              <a href="{{ route('action-update-page', { id: testAction.id, test_case_id: testCase.id }) }}">
                <i class="fas fa-edit"></i>
              </a>
            </td>
            <td>
              <a href="{{ route('action-remove', { id: testAction.id, test_case_id: testCase.id }) }}">
                <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          </tr>
          @endeach
          @else
          <tr>
            <td>Empty</td>
          </tr>
          @endif
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
@endsection
