<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="dns-prefetch" href="https://fonts.gstatic.com">
        <link href="{{ assetsUrl('css/app.css') }}" rel="stylesheet">
      </head>
    <body>
        @include('layouts.components.header')
        @!section('content')
        @include('layouts.components.footer')
      <script src="{{ assetsUrl('js/app.js') }}" ></script>
    </body>
</html>
