@layout('layouts.base')

@section('content')
<section class="section section-centered ">
  <div class="container has-text-centered">
    <h1 class="title">
      Welcome QA!
    </h1>
    <p class="subtitle">
      On the best solution for improve testing process!
    </p>
  </div>
</section>
@endsection
